<div class="parent">
  <mat-card class="mat-whiteframe-2dp">
    <mat-card-content>
      <mat-card-title>
        Création de votre compte
      </mat-card-title>
    </mat-card-content>
    <mat-error *ngIf="err">
      Le pseudo ou/et l'email  <strong>existe déja</strong>
    </mat-error>
    <form [formGroup]="form">
      <div style="text-align: center; margin-bottom: 2vh">
        <mat-form-field appearance="outline" style="width: 30vh">
          <mat-label>Pseudo</mat-label>
          <input name="pseudo" matInput placeholder="Placeholder" formControlName="pseudo" minlength="2" required>
          <mat-error *ngIf="form.get('pseudo')?.hasError('required')">
            Le champs est <strong>Obligatoire</strong>
          </mat-error>
          <mat-error *ngIf="form.get('pseudo')?.hasError('minlength')">
            Le champs doit mesurer <strong>2 caractères minimum</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div style="text-align: center; margin-bottom: 2vh">
        <mat-form-field appearance="outline" style="width: 30vh">
          <mat-label>Mail</mat-label>
          <input name="mail" matInput placeholder="Placeholder" formControlName="mail" required>
          <mat-error *ngIf="form.get('mail')?.hasError('required')">
            Le champs est <strong>Obligatoire</strong>
          </mat-error>
          <mat-error *ngIf="!form.get('mail')?.hasError('required') && form.get('mail')?.hasError('pattern')">
            Email invalide <strong>(ex: name.firstname@mailBox.com)</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div style="text-align: center; margin-bottom: 2vh">
        <mat-form-field appearance="outline" style="width: 30vh">
          <mat-label>Mot de passe</mat-label>
          <input name="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required> <!--minlength="8"-->
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Le champs est <strong>Obligatoire</strong>
          </mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            Le champs doit mesurer <strong>8 caractères minimum</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div style="text-align: center; margin-bottom: 2vh">
        <mat-form-field appearance="outline" style="width: 30vh">
          <mat-label>Confirmation</mat-label>
          <input name="repeatPassword" matInput [type]="hideRepeat ? 'password' : 'text'" formControlName="repeatPassword" required>
          <button mat-icon-button matSuffix type="button" (click)="hideRepeat = !hideRepeat" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeat">
            <mat-icon>{{hideRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('repeatPassword')?.hasError('required')">
            Le champs est <strong>Obligatoire</strong>
          </mat-error>
          <mat-error *ngIf="form.get('repeatPassword')?.hasError('minlength')">
            Le champs doit mesurer <strong>8 caractères minimum</strong>
          </mat-error>
          <mat-error *ngIf="form.get('repeatPassword')?.hasError('mustMatch')">
            Le champs doit être le <strong>même que le mdp</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button class="button" (click)="submit()">Inscription</button>
    </form>
  </mat-card>
</div>
