<div class="container">
  <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
    <mat-card class="col-md-3" *ngFor="let game of games | randomOrder | slice:0:3; let i=index" [routerLink]="'/games/'+ game.id" style="margin-right: 3vh">
      <mat-card-title-group class="align-content-center">
        <mat-card-title>
          {{ game.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{game.platform}}
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <img src="{{game.image}}" alt="Un jeu" width="150" height="200">
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
    <mat-card class="col-md-3" *ngFor="let discussion of discussions | newestOrder | slice:0:3; let i=index" [routerLink]="'/post/'+ discussion.id" style="margin-right: 3vh">
      <mat-card-title-group class="align-content-center">
        <mat-card-title>
          {{ discussion.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{discussion.author}}
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
       {{discussion.responses}}
      </mat-card-content>
    </mat-card>
  </div>
</div><div class="container">
  <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
    <mat-card class="col-md-3" *ngFor="let actualite of actualites | newestOrder | slice:0:3; let i=index" style="margin-right: 3vh">
      <mat-card-title-group class="align-content-center">
        <mat-card-title>
          {{ actualite.title}}
        </mat-card-title>
        <mat-card-subtitle style="width: fit-content; word-break: break-all">
          {{actualite.text}}
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        {{actualite.author}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
