
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile rowspan="2">
    <mat-card>
      {{game.platform}}
      <mat-card-content >
        <img id="img" src="{{game.image}}" alt="Un jeu" >
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1">
    <mat-card>
      <mat-card-title>
        {{game.title}}
      </mat-card-title>
      <mat-card-content>
        {{game.synopsis}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        Note: {{game.note}}/20
      </mat-card-title>
      <mat-card-content>
        Test :
        {{game.test}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



