<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile rowspan="2">
    <mat-card>
      <mat-card-content >
        <img id="img" src="https://image.jeuxvideo.com/images/jaquettes/00049581/jaquette-final-fantasy-xiv-a-realm-reborn-pc-cover-avant-g-1377507184.jpg" alt="Un jeu" >
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        Final Fantasy 14
      </mat-card-title>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis augue lobortis tellus suscipit placerat. Maecenas eget tincidunt nulla, eget scelerisque arcu. Morbi sit amet nisi et nunc tincidunt lacinia. Quisque in ante sem. Maecenas congue nisi id justo consectetur accumsan. Donec in neque et turpis mattis lobortis consectetur egestas massa. Aliquam elementum velit in malesuada rhoncus. Etiam lacinia aliquet justo. Donec pulvinar ac mauris in porta. Praesent sollicitudin turpis erat, ac sollicitudin dolor congue a. Vivamus porttitor, dui in consectetur vestibulum, mauris tellus imperdiet arcu, eget egestas dui nisi at nisi.
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card-content>
      <mat-card-title>
        Note:
      </mat-card-title>
      <mat-card-content>
        14/20
       </mat-card-content>
    </mat-card-content>
  </mat-grid-tile>
</mat-grid-list>
