<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/images/logo.png" alt="logoVGC" [routerLink]="'/home'" width="40" height="50">
    <h1><a mat-button [routerLink]="'/home'">{{ title }}</a></h1>
    <a mat-button [routerLink]="'/games'"> Jeux </a>
    <a mat-button [routerLink]="'/actualites'"> Actus </a>
    <a mat-button [routerLink]="'/forum'"> Forum </a>
    <a mat-button [routerLink]="'/mon-compte'" *ngIf="isConnected"> Mon compte </a>
    <a mat-button [routerLink]="'/admin'" *ngIf="isAdmin"> Admin </a>
    <div class="spacer">
      <app-search-bar></app-search-bar>
    </div>
    <mat-icon>search</mat-icon>
    <a mat-button [routerLink]="'/inscription'" *ngIf="!isConnected"> Inscription </a>
    <a mat-button (click)="connexion()" [routerLink]="'/connexion'" *ngIf="!isConnected"> Connexion </a>
    <a mat-button (click)="deconnexion()" [routerLink]="'/home'" *ngIf="isConnected"> Deconnexion </a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
