<div class="container">
  <div class="row" style="margin-top: 5vh">
    <mat-card class="col-md-2">
      <mat-card-title>

      </mat-card-title>
    </mat-card>
    <mat-card class="col-md-8">
      <mat-card-title-group class="align-content-center">
        <mat-card-title>

        </mat-card-title>
      </mat-card-title-group>
    </mat-card>
    <mat-card class="col-md-1" >
      <mat-card-title style="text-align: center">

      </mat-card-title>
    </mat-card>
    <div class="col-md-1" style="display: inline-block;align-self: center;" *ngIf="admin">
      <mat-icon>
        delete
      </mat-icon>
    </div>
  </div>
</div>
